# 编译youku-yk1固件:
CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7620=y
CONFIG_TARGET_ramips_mt7620_DEVICE_youku-yk1=y
CONFIG_TESTING_KERNEL=y

CONFIG_DEFAULT_luci-app-accesscontrol=n
CONFIG_DEFAULT_luci-app-arpbind=n
CONFIG_DEFAULT_luci-app-ddns=n
CONFIG_DEFAULT_luci-app-filetransfer=n
CONFIG_DEFAULT_luci-app-nlbwmon=n
CONFIG_DEFAULT_luci-app-turboacc=n
CONFIG_DEFAULT_luci-app-vlmcsd=n
CONFIG_DEFAULT_luci-app-vsftpd=n
CONFIG_DEFAULT_luci-app-wol=n
CONFIG_DEFAULT_luci-app-autoreboot=n
CONFIG_DEFAULT_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-ramfree=y
CONFIG_PACKAGE_luci-app-ssr-plus=y
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_NONE_Client is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Libev_Client is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust_Client=y
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_NONE_Server is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Libev_Server is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust_Server=y
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_NONE_V2RAY is not set
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray=y
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ChinaDNS_NG is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_MosDNS is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Hysteria is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_IPT2Socks is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Kcptun is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_NaiveProxy is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Redsocks2 is not set
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Simple_Obfs=y
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_V2ray_Plugin is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Libev_Client is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Libev_Server is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan is not set
# CONFIG_PACKAGE_luci-app-passwall is not set
# CONFIG_PACKAGE_luci-app-passwall2 is not set
# CONFIG_PACKAGE_luci-app-bypass is not set
# CONFIG_PACKAGE_luci-app-vssr is not set

# 固件压缩:
CONFIG_TARGET_IMAGES_GZIP=y

#Images
CONFIG_TARGET_ROOTFS_INITRAMFS=y
CONFIG_TARGET_INITRAMFS_COMPRESSION_NONE=y
CONFIG_EXTERNAL_CPIO=""
CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_TARGET_SQUASHFS_BLOCK_SIZE=1024
CONFIG_TARGET_UBIFS_FREE_SPACE_FIXUP=y
CONFIG_TARGET_UBIFS_JOURNAL_SIZE=""
CONFIG_DOWNLOAD_CHECK_CERTIFICATE=y
# CONFIG_TARGET_ROOTFS_EXT4FS is not set


# IPv6支持:
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_ip6tables=y
CONFIG_PACKAGE_ipv6helper=y

# 常用LuCI插件选择:
CONFIG_LIBCURL_NO_SMB="!"
# CONFIG_PACKAGE_luci-app-samba is not set
# CONFIG_PACKAGE_autosamba is not set
CONFIG_PACKAGE_luci-app-accesscontrol=n
# CONFIG_PACKAGE_luci-app-adguardhome is not set
# CONFIG_PACKAGE_luci-app-ddns is not set
# CONFIG_PACKAGE_luci-app-adbyby-plus is not set
CONFIG_PACKAGE_luci-app-arpbind=n
CONFIG_PACKAGE_luci-app-autoreboot=n
# CONFIG_PACKAGE_luci-app-cifsd is not set
# CONFIG_PACKAGE_luci-app-mtwifi is not set
# CONFIG_PACKAGE_luci-app-guest-wifi is not set
CONFIG_PACKAGE_luci-app-hd-idle=n
# CONFIG_PACKAGE_luci-app-wol is not set
# CONFIG_PACKAGE_luci-app-vlmcsd is not set
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-ramfree=y
# CONFIG_DEFAULT_luci-app-flowoffload is not set
# CONFIG_PACKAGE_luci-app-unblockmusic is not set
# CONFIG_PACKAGE_luci-app-cpufreq is not set
# CONFIG_PACKAGE_luci-app-filetransfer is not set
# CONFIG_PACKAGE_luci-app-ttyd is not set
# CONFIG_PACKAGE_luci-app-vsftpd is not set
# CONFIG_PACKAGE_luci-app-syncdial is not set
# CONFIG_PACKAGE_luci-app-zerotier is not set
# CONFIG_DEFAULT_luci-app-sfe is not set
# CONFIG_DEFAULT_luci-app-sqm is not set
# CONFIG_PACKAGE_luci-app-mwan3 is not set
# CONFIG_PACKAGE_luci-app-mwan3helper is not set
# CONFIG_PACKAGE_luci-app-noddos is not set
# CONFIG_PACKAGE_luci-app-qos is not set
# CONFIG_PACKAGE_luci-app-usb-printer is not set
# CONFIG_PACKAGE_luci-app-webadmin is not set
# CONFIG_PACKAGE_luci-app-wireguard is not set
# CONFIG_PACKAGE_luci-app-wrtbwmon is not set
# CONFIG_PACKAGE_luci-app-dnsfilter is not set

# 去除ruby等:
CONFIG_PACKAGE_ruby=n
CONFIG_PACKAGE_libyaml=n
CONFIG_PACKAGE_libruby=n
CONFIG_PACKAGE_ca-certificates=n
CONFIG_PACKAGE_coreutils=n
CONFIG_PACKAGE_terminfo=n
CONFIG_PACKAGE_libcap=n
CONFIG_PACKAGE_libcap-bin=n
# CONFIG_PACKAGE_curl is not set
CONFIG_PACKAGE_bash=n
CONFIG_PACKAGE_ipset=n
CONFIG_PACKAGE_libbpf0=n
CONFIG_PACKAGE_libcurl4=n
CONFIG_PACKAGE_libipset13=n
CONFIG_PACKAGE_libmnl0=n
CONFIG_PACKAGE_libncurses6=n
CONFIG_PACKAGE_libreadline8=n


# LuCI主题:
# CONFIG_PACKAGE_luci-theme-opentomcat is not set
# CONFIG_PACKAGE_luci-theme-netgear is not set
CONFIG_PACKAGE_luci-theme-argon=y
# CONFIG_DEFAULT_luci-theme-bootstrap-mod is not set
# CONFIG_DEFAULT_luci-theme-darkmatter is not set
# CONFIG_PACKAGE_luci-theme-material is not set